<div th:fragment="filter">
    <div class="col-md-11 col-sm-5 col-md-offset-1">
        <div class="row panel panel-primary margin-bottom">
            <div class="panel-heading">
                <h3 class="panel-title">Search details</h3>
            </div>
            <div id="grid-table">
                <table class="table table-striped table-bordered table-hover">
                    <tr th:each="offerCity : ${offerCities}">
                        <td><a href="#" th:href="@{${offerCity.city}}"
                               th:text="${offerCity.city}">[offerCity.city]</a></td>
                        <td th:text="${offerCity.cityCount}">[offerCity.cityCount]</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>