<head th:fragment="head">

    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="OmOmFood - Food sharing application for everyone"/>
    <meta name="author" content="CodeCouple"/>

    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'/>
    <link href='../webjars/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet' type='text/css'/>

    <link th:href='@{../css/style.css}' href="css/style.css" rel='stylesheet' type='text/css'/>
    <link th:href='@{../css/login.css}' href="css/login.css" rel='stylesheet' type='text/css' />
    <link th:href='@{../css/offers.css}' href="css/offers.css" rel='stylesheet' type='text/css' />


    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet'
          type='text/css'/>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.min.css'
          rel='stylesheet' type='text/css'/>

    <script src="../webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src='../webjars/bootstrap/3.3.5/js/bootstrap.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
    <script src="../js/script.js"></script>

    <title th:text="#{Title}">OmOmFood - Food sharing application for everyone</title>

</head>