<head th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">

    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="OmOmFood - Food sharing application for everyone"/>
    <meta name="author" content="CodeCouple"/>

    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'/>
    <link href='/webjars/bootstrap/3.3.5/css/bootstrap.min.css' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>

    <link th:href='@{/css/style.css}' href="css/style.css" rel='stylesheet' type='text/css'/>
    <link th:href='@{/css/login.css}' href="css/login.css" rel='stylesheet' type='text/css' />
    <link th:href='@{/css/offers.css}' href="css/offers.css" rel='stylesheet' type='text/css' />

    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css' rel='stylesheet' type='text/css'/>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.42/css/bootstrap-datetimepicker.min.css' rel='stylesheet' type='text/css'/>

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src='/webjars/bootstrap/3.3.5/js/bootstrap.min.js'></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.42/js/bootstrap-datetimepicker.min.js"></script>

    <script th:src='@{/js/script.js}' src="../js/script.js"></script>

    <script th:src="'http://maps.googleapis.com/maps/api/js?key=' + ${@environment.getProperty('google.map.api.key')}"></script>

    <title th:text="#{Title}">OmOmFood - Food sharing application for everyone</title>

</head>