<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="offer(offer)">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="${offer.title}">[offer.title]</h3>
        </div>
        <div class="panel-body offer-box">
                <div class="col-md-4 offer-img-details">
                    <a th:href="'/offer/' + ${offer.id}" href="#">
                        <img th:src="@{/images/} + ${offer.iconFileName}"
                             class="img-circle offer-img"
                        />
                    </a>
                    <div class="row offer-types">
                        <img th:src="@{/images/offer-type/} + ${offerType} + '.svg'"
                             th:if="${offer.offerDetailsTypes.contains(offerType)}"
                             th:each="offerType:${T(pl.codecouple.omomfood.offers.types.OfferDetailsTypes).values()}"
                             th:attr="alt=${offerType.getType()},title=${offerType.getType()}"
                             class="offer-type"
                        />
                    </div>
                    <div class="row offer-author-box">
                        <img th:src="@{/images/defaults/users/user.svg/}"
                            class="img-circle offer-author-avatar"
                        />
                        <span th:text="${offer.owner.getFirstAndLastName()}">[offer.owner.getFirstAndLastName]</span>
                    </div>
                </div>
                <div class="col-md-8 offer-details-box">
                    <div class="row">
                        <a th:href="'/offer/' + ${offer.id}" href="#">
                            <p th:text="${offer.description}" class="text-justify">[offer.description]</p>
                        </a>
                        <div class="row offer-details">
                            <div class="col-md-4">
                                <img th:src="@{/images/offer-details/dollar.svg/}"
                                     th:attr="alt=#{offer.price.icon},title=#{offer.price.icon}"
                                     class="offer-icon-details"
                                />
                                <span th:text="${@currencyServiceImpl.getCalculatedPrice(offer)}">[offer.price]</span>
                            </div>
                            <div class="col-md-3">
                                <img th:src="@{/images/offer-details/location.svg/}"
                                     th:attr="alt=#{offer.location.icon},title=#{offer.location.icon}"
                                     class="offer-icon-details"
                                />
                                <span th:text="${offer.city}">[offer.city]</span>
                            </div>
                            <div class="col-md-5">
                                <img th:src="@{/images/offer-details/calendar.svg/}"
                                     th:attr="alt=#{offer.date.icon},title=#{offer.date.icon}"
                                     class="offer-icon-details"
                                />
                                <span th:text="${#temporals.format(offer.eventDate, 'dd/MM/yyyy - HH:mm')}">
                                    [offer.eventDate]
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</html>