<div th:fragment="offer(offer)">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" th:text="${offer.title}">[offer.title]</h3>
        </div>
        <div class="panel-body offer_box">
            <a th:href="'/offer/' + ${offer.id}" href="#">
                <div class="col-md-3">
                    <img th:src="@{/images/} + ${offer.iconFileName}" class="img-circle offer-img"/>
                    <p>Some info here?</p>
                </div>
                <div class="col-md-9 offer_details">
                    <div class="row">
                        <p th:text="${offer.description}" class="text-justify">[offer.description]</p>
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>When</td>
                                <td th:text="${#temporals.format(offer.eventDate, 'EEEE d MMMM yyyy - HH:mm')}">
                                    [offer.eventDate]
                                </td>
                            </tr>
                            <tr>
                                <td>Where</td>
                                <td th:text="${offer.city}">[offer.city]</td>
                            </tr>
                            <tr>
                                <td>Price</td>
                                <td th:text="${offer.price}">[offer.price]</td>
                            </tr>
                            <tr>
                                <td>Added by</td>
                                <td th:text="${offer.owner.getFirstAndLastName()}">[offer.owner.getFirstAndLastName]</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </a>
            <div sec:authorize="isAuthenticated()">
                <p>Tutaj ukryta treść</p>
            </div>
        </div>
    </div>
</div>