<div th:fragment="reservation_details(offer)">
    <div class="col-md-11 col-sm-6 col-md-offset-1">
        <div class="row panel panel-default margin-bottom">
            <div class="panel-heading">
                <h3 class="panel-title text-left">
                    <i class="glyphicon glyphicon-info-sign"></i>  Deatils</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <p th:text="${offer.price}" class="price">[offer.price]</p>
                    </div>
                    <div class="col-xs-6 client-img">
                        <p th:text="${offer.getReservationQuantityDetails()}" class="price">[offer.assigned]/[offer.quantity]</p>
                    </div>
                </div>
                <div class="preferences">
                    <table class="table">
                        <tbody>
                            <tr th:each="offerType:${offer.offerTypes}">
                                <td th:inline="text">
                                    <span th:if="${offerType.available}" class="label label-success"><i class="glyphicon glyphicon-ok-sign"></i></span>
                                    <span th:if="${!offerType.available}" class="label label-danger"><i class="glyphicon glyphicon-remove-sign"></i></span>
                                    [[${offerType.type}]]
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-xs-offset-6 col-xs-6">
                        <a th:href="'/offer/' + ${offer.id} + '/partake'" class="btn btn-primary btn-lg pull-right">
                            <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>  OmOm
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>