<div th:fragment="reservation_details(offer)" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="col-md-11 col-sm-6 col-md-offset-1">
        <div class="row panel panel-default margin-bottom">
            <div class="panel-heading">
                <h3 class="panel-title text-left" th:utext="#{offer.details.title}">[offer.details.title]</h3>
            </div>
            <div class="panel-body">
                <div class="row margin-bottom">
                    <div class="col-xs-6">
                        <span th:text="${@currencyServiceImpl.getCalculatedPrice(offer)}" class="price">[offer.price]</span>
                    </div>
                    <div class="col-xs-6 client-img">
                        <span th:text="${offer.getReservationQuantityDetails()}" class="price">[offer.assigned]/[offer.quantity]</span>
                    </div>
                </div>
                <div class="row">
                    <div class="preferences">
                        <table class="table table-striped">
                            <tbody>
                            <tr th:each="offerType:${T(pl.codecouple.omomfood.offers.types.OfferDetailsTypes).values()}">
                                <td th:inline="text">
                                    <span th:if="${offer.offerDetailsTypes.contains(offerType)}" class="label label-success"><i class="glyphicon glyphicon-ok-sign"></i></span>
                                    <span th:if="${!offer.offerDetailsTypes.contains(offerType)}" class="label label-danger"><i class="glyphicon glyphicon-remove-sign"></i></span>
                                    [[${offerType.type}]]
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row padding-10" th:if="${!@offerServiceImpl.isOfferOwner(offer)}">
                    <div class="col-xs-offset-6 col-xs-6">
                        <a th:href="'/offer/' + ${offer.id} + '/partake'" class="btn btn-primary btn-lg pull-right">OmOm!</a>
                    </div>
                </div>
                <div class="row padding-10 pull-right" th:if="${@offerServiceImpl.isOfferOwner(offer)}">
                        <a th:href="'/offer/' + ${offer.id} + '/partake'" class="btn btn-primary btn-lg">Edit</a>
                        <a th:href="'/offer/' + ${offer.id} + '/partake'" class="btn btn-danger btn-lg">Remove</a>
                </div>
            </div>
        </div>
    </div>
</div>