<div th:fragment="removeOfferModal" id="removeOfferModal" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Uwaga!</h4>
            </div>
            <div class="modal-body">
                <p>Uwaga, oferta posiada przypisanych użytkowników.</p>
                <p>Czy na pewno chcesz usunąć ofertę z użytkownikami?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tak</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Nie</button>
            </div>
        </div>
    </div>
</div>