<html layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">
    <div class="center_box">
    <div th:include="layouts/_slogan :: slogan"/>

    <form action="#" th:action="@{/forget-password}" th:object="${forgetPasswordForm}" method="post">

        <div class="row no-gutter">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-envelope"></i>
                    </span>
                    <input type="email" th:field="*{email}" name="username" class="form-control" th:placeholder="#{placeholder.email}" th:title="#{forgot.password.popover.title}" title="[forgot.password.popover.title]" data-toggle="popover" data-trigger="hover" th:attr="data-content=#{forgot.password.popover.content}" data-content="[forgot.password.popover.content]" placeholder="Email here..."/>
                </div>
                <div class="alert alert-danger" role="alert"
                     th:if="${#fields.hasErrors('email')}"
                     th:errors="*{email}">
                    [forgot.password.email.not.exists]
                </div>
                <div class="alert alert-success" role="alert"
                     th:if="${success}"
                     th:utext="${success}">
                    [forgot.password.email.successfully.send]
                </div>
            </div>
            <div class="col-md-3"/>
        </div>
        <div class="row no-gutter">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <button type="submit" th:text="#{forgot.password.button}" class="btn btn-primary btn-submit">[forgot.password.button]</button>
            </div>
            <div class="col-sm-3 col-md-4"/>
        </div>
    </form>
    </div>
</div>
</html>