<html layout:decorator="layout" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="content">
    <div class="center_box">
        <div th:include="layouts/_slogan :: slogan"/>

        <form action="#" th:action="@{/reset-password(id=${resetPasswordToken})}"  th:object="${resetPasswordForm}" method="post">
            <div class="row no-gutter">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                        <input type="password" name="password" class="form-control" th:placeholder="#{placeholder.password}" required="true" placeholder="Password..."/>
                    </div>
                </div>
                <div class="col-md-3"/>
            </div>
            <div class="row no-gutter">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                        <input type="password" th:field="*{passwordMatcher}" class="form-control" th:placeholder="#{placeholder.retype.password}" placeholder="Retype password..."/>
                    </div>
                    <div class="alert alert-danger" role="alert"
                         th:if="${#fields.hasErrors('passwordMatcher')}"
                         th:errors="*{passwordMatcher}">
                        <strong>Oh snap!</strong> Change a few things up and try submitting again.
                    </div>
                    <div class="alert alert-success" role="alert"
                         th:if="${success}"
                         th:utext="${success}">
                        [forgot.password.email.successfully.send]
                    </div>
                </div>
                <div class="col-md-3"/>
            </div>
            <div class="row no-gutter">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    <button type="submit" th:text="#{forgot.password.button}" class="btn btn-primary btn-submit">[forgot.password.button]</button>
                </div>
                <div class="col-sm-3 col-md-4"/>
            </div>
        </form>
    </div>
</div>
</html>